/* General fixes */

body,
html {
    background-color: #111;
	font-size: 13px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    height: 100%;
}
.forum-list {
    margin: 3px 0 5px 0;
}
footer .pull-right {
    padding-bottom: 15px;
}
h1 {
    margin-top: -15px;
}
h2 {
    margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI Light", "Segoe UI", Arial;
    font-weight: 100;
}
h1,
h2,
h4 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
}
.panel-body h1 {
    margin-top: 0;
}
.social img {
    margin: 0 1em;
}
.social a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Cinzel', tahoma, sans-serif;
}
.text-center {
    margin-bottom: 0;
}
.modlist {
    color: #888;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
	  border-right: 1px solid #262626;
	border-bottom: 0;
	border-top: 1px solid #a5a5a5;
	border-left: 0;
	background: -webkit-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #252525), color-stop(48%, #1c1c1c), color-stop(52%, #282828), color-stop(100%, #636363));
    background: -moz-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: -o-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: -ms-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: linear-gradient(to top, #252525,#1c1c1c 48%,#282828 52%,#636363);
    box-flex: 1;
    color: #ffd966 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
	font-weight: bold;
    text-align: center;
	 border-right: 1px solid #262626;
	border-bottom: 0;
	border-top: 1px solid #a5a5a5;
	border-left: 0;
}

.nav-pills>li>a {
	background: -webkit-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #252525), color-stop(48%, #1c1c1c), color-stop(52%, #282828), color-stop(100%, #636363));
    background: -moz-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: -o-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: -ms-linear-gradient(bottom, #252525, #1c1c1c 48%, #282828 52%, #636363);
    background: linear-gradient(to top, #252525,#1c1c1c 48%,#282828 52%,#636363);
    box-flex: 1;
    color: #ffd966 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	 border-right: 1px solid #262626;
	border-bottom: 0;
	border-top: 1px solid #a5a5a5;
	border-left: 0;
}
.nav-pills>li>a:hover {
    background: -webkit-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #757575), color-stop(48%, #686868), color-stop(52%, #777), color-stop(100%, #a0a0a0));
    background: -moz-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: -o-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: -ms-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: linear-gradient(to top, #757575,#686868 48%,#777777 52%,#a0a0a0);
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
	 border-right: 1px solid #262626;
	border-bottom: 0;
	    border-top: 1px solid #dcdcdc;
	border-left: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
}
.nav-pills>li>a {
    color: #262626 !important;
	font-weight: bold;
    text-align: center;
}
.nav-pills>li>a {
	background: -webkit-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #757575), color-stop(48%, #686868), color-stop(52%, #777), color-stop(100%, #a0a0a0));
    background: -moz-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: -o-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: -ms-linear-gradient(bottom, #757575, #686868 48%, #777 52%, #a0a0a0);
    background: linear-gradient(to top, #757575,#686868 48%,#777777 52%,#a0a0a0);
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
	 border-right: 1px solid #262626;
	border-bottom: 0;
	    border-top: 1px solid #dcdcdc;
	border-left: 0;
}
.nav-pills>li>a {
    border-radius: 0;
}
#frontpage .panel-group { 
	margin-bottom: 10px;
}
#frontpage .list-group-item-text { 
	width: 100%;
}
@media screen and (max-width: 767px) {
	#frontpage .aside {
		margin-top: 35px;
	}
    .col-profile {
        padding-left: 0;
    }
    .col-profile .profile-card {
        margin-top: 60px !important;
    }
}
.row-nav .btn-breadcrumb,
.row-nav .pagination {
    margin-bottom: 10px;
}
.col-profile {
    padding-right: 0;
}
@media screen and (max-width: 991px) {
    #userlist .col-sm-12 {
        margin-bottom: 10px;
    }
}
.header-rsc-nav {
    margin: auto;
    position: relative;
    height: 30px;
    background: #262626;
    background: -moz-linear-gradient(top, #262626 0%, #0d0d0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #0d0d0d));
    background: -webkit-linear-gradient(top, #262626 0%, #0d0d0d 100%);
    background: -o-linear-gradient(top, #262626 0%, #0d0d0d 100%);
    background: -ms-linear-gradient(top, #262626 0%, #0d0d0d 100%);
    background: linear-gradient(to bottom, #262626 0%, #0d0d0d 100%);
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #4a4a4a;
}
.header-rsc-top {
    margin: auto;
    max-width: 1200px;
}
.header-rsc-top-content {
    clear: both;
    display: none;
    font-size: 1.2em;
    line-height: 25px;
    overflow: hidden;
}
.header-rsc-top-content {
    display: block;
}
.header-rsc-top-content-in {
    line-height: 25px;
}
.header-rsc-top-option {
    float: left;
    padding: 0 6px;
    position: relative;
    list-style: none;
}
.header-rsc-top-content-in {
    float: right;
    line-height: 25px;
    max-height: 30px;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}


.header-rsc-top-option:after {
    background: black;
    border-right: 1px solid #444;
    content: '';
    height: 50%;
    position: absolute;
    right: 0;
    top: 26%;
    width: 1px;
}
.header-rsc-top-option:last-child:after {
    display: none;
     padding: 0 0px;
}
#header .rsc-overlay-info {
    padding: 10px 0 0 0;
}
#header .rsc-overlay-body {
    padding: 12px 0 2px 0;
    text-align: center;
    color: #f1f1f1;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}
#header .header-rsc-top-link-option {
    color: #999;
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-weight: 400;
}
#header .header-rsc-top-link-option:hover {
    color: #e1bb34;
}
#header #playerTokens {
    font-size: 11px;
    font-family: Arial;
}
.header-rsc-under-text {
    font-size: 9.5pt;
    text-shadow: 0 0 2px #fff;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
}
.header {
    min-height: 94px;
}
.header-rsc {
    box-shadow: #2b2e32 0 1px 0 inset;
    background-image: url(logo.png);
    min-width: 100%;
    min-height: 94px;
    width: auto;
    height: auto;
    left: 0px;
    right: 0;
    z-index: 0;
    position: relative;
    animation: scroll 50s infinite linear;
    -ms-animation: scroll 50s infinite linear;
    -moz-animation: scroll 50s infinite linear;
    -webkit-animation: scroll 50s infinite linear;
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    animation-direction: alternate;
    -moz-animation-direction: alternate;
    -ms-animation-direction: alternate;
    -webkit-animation-direction: alternate;
}
.header-overlay {
    transition: background .2s;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-rsc-content {
    position: absolute;
    bottom: 0;
    right: 350px;
}
#header ul.socialicons {
    list-style: none;
}
#header ul.socialicons li {
    width: 32px;
    height: 33px;
    padding: 0 5px 0 0;
    margin-right: 5px;
    float: left;
}
#header ul.socialicons li a {
    width: 32px;
    height: 33px;
    display: block;
    background: url(social_sprite.png) no-repeat;
}
#header ul.socialicons li a.facebook {
    margin-top: 20px;
}
#header ul.socialicons li a.facebook {
    background-position: 0 -73px;
}
#header ul.socialicons li a.facebook:hover {
    background-position: -38px -73px;
    margin-top: 0;
    transition: width 2s;
    -moz-transition: width 2s;
    /* Firefox 4 */
    
    -webkit-transition: width 2s;
    /* Safari and Chrome */
     
    -o-transition: width 2s;
    /* Opera */
}
#header ul.socialicons li a.twitter {
    background-position: 0 -109px;
}
#header ul.socialicons li a.twitter:hover {
    background-position: -38px -109px;
}
#header ul.socialicons li a.youtube {
    background-position: 0 -219px;
}
#header ul.socialicons li a.youtube:hover {
    background-position: -38px -219px;
}
#header ul.socialicons li a.gpluslight {
    background-position: 0 -621px;
}
#header ul.socialicons li a.gpluslight:hover {
    background-position: -38px -621px;
}
#header ul.socialicons li a.gplusdark {
    background-position: 0 -694px;
}
#header ul.socialicons li a.gplusdark:hover {
    background-position: -38px -694px;
}
/* Header */

#header {
    top: 35px;
    overflow: hidden;
    background: #242629 url(bg-noise-white.png);
    background-image: url(bg-noise-white.png), -webkit-linear-gradient(#242629, #414549);
    background-image: url(bg-noise-white.png), linear-gradient(#242629, #414549);
    color: #fff;
}
#footer {
    position: relative;
    clear: both;
    color: #fff;
    color: #555;
    background: #242629 url(bg-noise-white.png);
}
.footer {
    padding-bottom: 10px;
}
.account-card-body.active {
    background-color: #1B1B1B;
    color: #fff;
}
.account-card-body {
    padding: 9px;
    background-color: #262626;
    border-top: 1px solid rgba(91, 91, 91, 0.3);
    border-bottom: 1px solid #151515;
    border-top: none;
    display: block;
    color: #c7c7c7;
    border-radius: 4px;
    min-height: 120px;
}
#account-manager-selector .list-group {
    margin-bottom: 10px;
}
#account-options {
    text-decoration: none;
}
#account-options .panel-heading {
    color: #f3b13f;
    text-decoration: none;
}
#account-options .panel-heading:hover {
    -webkit-transition: color 500ms;
    transition: color 500ms;
    color: #fff;
}
#danger-text {
    color: #ff0000;
    text-decoration: none;
}
.playerAvatar {
    float: left;
    width: 65px;
    height: auto;
}
.profile-card-body p,
.account-card-body p {
    margin: 0;
}
.accountName {
    font-size: 14px;
    font-weight: 700;
    color: #1C81B8;
}
#account-manager-selector .account-card-body a {
    color: #b8b8b8;
}
#account-manager-selector .account-card-body a {
    color: #b8b8b8;
}
#account-manager-selector .account-card-body:hover {
    text-decoration: none;
}
.account-card-body .account-side-info .account-side-info-text {
    font-size: 12px;
    font-weight: 700;
}
.account-side-info {
    padding-left: 85px;
}
.account-card-body .account-side-info .account-side-info-text-sm {
    font-size: 12px;
}
#menu {
    border-top: solid 1px #070808;
}
#header a {
    color: #fff;
}
#header a:hover {
    color: #fff;
    text-decoration: none;
}
#header .dropdown-menu a,
#header .dropdown-menu a:hover {
    color: #000;
}
#content {
    clear: left;
    background: #861313;
    border-bottom: 3px solid #3d3d3d;
    overflow: auto;
    width: 100%;
    min-height: 100%;
    background:url(area_body.png) #262626;
}
#content_in {
    padding-bottom: 20px;
    /* this needs to be bigger than footer height*/
    
    overflow: hidden;
}
#download strong {
    display: block;
    color: #fff;
    font-size: 14px;
}
#download p {
    font-size: 12px;
}
#download .requirements {
    display: block;
    color: lightblue;
    margin-top: 10px;
    font-size: 14px;
}
#download .link {
    display: block;
    margin-top: 10px;
}
#download .link a {
    text-decoration: none;
}
#download .red {
    color: red;
}
#download .listTitle {
    font-size: 18px;
}
.nobord {
    border-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: none;
}
.centerize {
    text-align: center;
    display: block;
}
#frontpage .auctionMoney {
	color: Green;
}
#frontpage .auctionItem {
	color: #ff9040;
}
#frontpage .auctionSoldOut {
	color: #ff0000;
}
#frontpage .ah-icon {
    background-image: url(icons/coins.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style: none;
}
#frontpage .nav-tabs>li.active>a,
#frontpage .nav-tabs>li.active>a:hover,
#frontpage .nav-tabs>li.active>a:focus {
    background: #3e3e3e;
    background: -moz-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(50%, #272727), color-stop(100%, #262626));
    background: -webkit-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -o-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -ms-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: linear-gradient(to bottom, #3e3e3e 0%, #272727 50%, #262626 100%);
    border-bottom: 1px solid #262626;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#frontpage .nav-tabs>li>a {
    width: 98px;
    height: 50px;
    text-align: center;
    padding: 6px;
}
._4s7c {
    border: none;
}
#frontpage .lastCol {
	text-align:right;
}
#kd .kd-list-item {
	min-height: 20px;
}

#ah .itemName {
	color: #1AACF7;
}
#ah .itemPrice {
	color: #B50303;
}
#ah .otherCol {
	color: #666464;
}
#ah .table>tbody>tr>td, #ah .table>tbody>tr>th, #ah .table>tfoot>tr>td, #ah .table>tfoot>tr>th, #ah .table>thead>tr>td, #ah .table>thead>tr>th {
	vertical-align: middle;
}
#ah .table-bordered, #ah .table-bordered>tbody>tr>td, #ah .table-bordered>tbody>tr>th, #ah .table-bordered>tfoot>tr>td, #ah .table-bordered>tfoot>tr>th, #ah .table-bordered>thead>tr>td, #ah .table-bordered>thead>tr>th {
	border: 0;
}
#ah .table>caption+thead>tr:first-child>td, #ah .table>caption+thead>tr:first-child>th, #ah .table>colgroup+thead>tr:first-child>td, #ah .table>colgroup+thead>tr:first-child>th, #ah .table>thead:first-child>tr:first-child>td, #ah .table>thead:first-child>tr:first-child>th {
    border: 1px solid #111;
}
#ah .table>tbody>tr>td, #ah .table>tbody>tr>th, #ah .table>tfoot>tr>td, #ah .table>tfoot>tr>th, #ah .table>thead>tr>td, #ah .table>thead>tr>th {
    border: solid 1px #3c3c3c;
}

#frontpage .nav-tabs>li>a:hover {
    background: #3e3e3e;
    background: -moz-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(50%, #272727), color-stop(100%, #262626));
    background: -webkit-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -o-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -ms-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: linear-gradient(to bottom, #3e3e3e 0%, #272727 50%, #262626 100%);
    border-bottom: 1px solid #262626;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #1c1e22 #1c1e22 #1c1e22
}
#frontpage .nav-tabs>li {
    width: 98px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.bside {
    margin: 0;
    background: #262626;
    border: 1px solid #393939;
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;
}
#frontpage .news {
    margin-bottom: 0px;
    margin-top: 0px;
}
#frontpage .news-default {
    background: #222;
    border-bottom: 1px solid #393939;
    border-top: 1px solid #111;
}
#frontpage .news-heading {
    padding: 10px 15px;
}
#frontpage .news-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    color: inherit;
}
#frontpage .news-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#frontpage .right_cont {
    text-align: right !important;
}
#frontpage .newsspec {
    color: #fff;
    text-decoration: none;
}
#frontpage .news-icon {
    background-image: url(icons/asterisk_orange.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 0px 0px;
}
#frontpage .jump {
    display: block;
}
.skip {
    display: block;
    min-width: 100%;
    margin-top: 15px;
}
#frontpage .update-icon {
    background-image: url(icons/lightning.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style: none;
}
#frontpage .topics-icon {
    background-image: url(icons/comment.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    list-style: none;
}
#frontpage li {
    list-style: none;
}
#frontpage .error-icon {
    background-image: url(icons/error.png);
    background-repeat: no-repeat;
    padding-left: 25px;
}
#frontpage .zw {
    color: #cc2944;
    margin-right: 5px;
}
#frontpage .an {
    color: #bfa34c;
}
#frontpage .upm {
    color: #73bfe6;
}
#frontpage .tp {
    color: #1C81B8;
}
#frontpage .date {
    padding-right: 10px;
}
.footer blockquote {
    background: url(../img/quote1.png) no-repeat 50% 0;
    padding: 60px 0 0 0;
    text-align: center;
    color: #d8c431;
    border-left: 0px;
    margin: 0;
}
.footer blockquote footer {
    padding: 0 0 20px 0;
}
.footer blockquote footer p {
    font-size: .8em;
    text-transform: uppercase;
    display: block;
}
.footer blockquote p.testimonial {
    font-size: 1.5em;
    color: #D8C431;
}
.footer blockquote .name {
    color: #666;
    font-size: 0.8em;
    margin-bottom: 0;
}
footer h2,
footer h3,
footer h4 {
    color: #fff;
}
footer .copyright {
    border-bottom: 0px;
    font-size: 0.8em;
    margin-bottom: 40px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer_social {
    padding: 0px;
    right: 0px;
    padding-top: 0px;
    list-style-type: none;
    top: 51px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.footer_social li {
    float: left;
    margin-left: 15px;
}
.footer_social li:first-child {
    margin-left: 0px;
}
.footer_social li a {
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    border: 1px solid #000;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
    background-color: #0d0d0d;
    display: block;
    -webkit-transition: background-color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}
.footer_social li a:active {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.2);
    position: relative;
    top: 1px;
}
.footer_facebook {
    background: url('social_icons/footer_facebook.png') no-repeat 50% 50% #0d0d0d;
}
.footer_facebook:hover {
    background-color: #37589f;
}
.footer_twitter {
    background: url('social_icons/footer_twitter.png') no-repeat 50% 50% #0d0d0d;
}
.footer_twitter:hover {
    background-color: #1bd7ed;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.footer_youtube {
    background: url('social_icons/footer_youtube.png') no-repeat 50% 50% #0d0d0d;
}
.footer_youtube:hover {
    background-color: #b70000;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.footer_reddit {
    background: url('social_icons/footer_reddit.png') no-repeat 50% 50% #0d0d0d;
}
.footer_reddit:hover {
    background-color: #ff9c00;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.footer a {
    color: #fff;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-links li {
    line-height: 32px;
    font-size: 12px;
    border-bottom: 1px solid #232323;
}
.footer-links li:hover {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
}
#sitefooter ul.footer-menu li a,
#sitefooter {
    color: #6d6d6d;
}
#sitefooter {
    margin: 0;
    font-size: 11px;
}
#sitefooter {
    background-color: #000;
    background: #1f1f1f;
    color: #6d6d6d;
    position: relative;
    font-size: 11px;
    margin: 0;
}
#sitefooter {
    border-top: 1px solid #4a4a4a;
    line-height: 50px;
}
#sitefooter {
    color: #6d6d6d;
}
#sitefooter ul.footer-menu li {
    display: inline-block;
    float: left;
    margin: 0;
}
#sitefooter #footer_nav {
    float: left;
}
#sitefooter #copyright,
#sitefooter #footer_nav {
    float: left;
}
#footer_nav {
    float: left;
    width: auto;
    padding: 0px 0px;
}
#sitefooter ul.footer-menu {
    margin: 0;
    display: block;
    margin-left: -1em;
    text-align: center;
}
#footer_nav ul {
    margin: 0px 0px 1.5em 0px;
    padding: 0 40px 0 0px;
}
#footer ul li {
    list-style: none;
}
#footer .container {
	padding: 0;
}
#copyright ~ #footer_nav li:first-child a {
    padding-left: 10px;
    margin-left: 12px;
    border-left: 1px solid #292929;
}
#sitefooter ul.footer-menu li a {
    padding: 0 1em;
    border-right: 1px solid #292929;
    color: #6d6d6d;
    -webkit-transition: color 250ms ease-out;
    -moz-transition: color 250ms ease-out;
    -o-transition: color 250ms ease-out;
    transition: color 250ms ease-out;
}
#sitefooter ul.footer-menu li a,
#sitefooter {
    color: #6d6d6d;
}
#sitefooter ul.footer-menu li a {
    border-color: #292929 !important;
}
#sitefooter li a,
#sitefooter small {
    font-size: 11px;
    line-height: 100%;
}
#sitefooter li a,
#sitefooter small {
    font-size: 11px;
    line-height: 100%;
}
#sitefooter #copyright,
#sitefooter #footer_nav {
    float: left;
}
#sitefooter #copyright {
    margin: 0 10px 0 0;
}
.fullsize {
    width: 100%;
    display: block;
}
.page-right {
    float: left;
    margin-left: 15px;
    width: 380px;
    margin-bottom: 15px;
}
.news-postedBy {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
#page-news .newsTitle {
    font-size: 27px;
    width: 100%;
    float: left;
    font-weight: 400;
}
#page-news .newsBody {
    background-color: #1B1C20;
}
#page-news .newsMessage {
    float: left;
    margin-top: 5px;
    width: 100%;
}
#page-news h1 {
    color: #fff;
}
.aside {
    margin: -15px 0 0 0;
    padding-right: 0;
    position: relative;
}
.feed-right {
    text-align: right !important;
}
span.u_group_1,
span.u_group_1 a {
    color: yellow !important;
    font-weight: bold;
    text-shadow: 0px 1px 8px yellow !important;
}
span.u_group_5,
span.u_group_5 a {
    color: green !important;
    font-weight: bold;
    text-shadow: 0px 1px 8px green !important;
}
span.u_group_9,
span.u_group_9 a {
    color: darkorange !important;
    font-weight: bold;
    text-shadow: 0px 1px 8px darkorange !important;
}
span.u_group_10,
span.u_group_10 a {
    color: silver !important;
    font-weight: bold;
    text-shadow: 0px 1px 8px gold !important;
}
span.u_group_2,
span.u_group_2 a {
    color: silver !important;
    font-weight: bold;
    text-shadow: 0px 1px 8px silver !important;
}
.news-box {
    margin-top: 10px;
}
.pageContent {
    position: relative;
    min-height: 1px;
}
@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
    #header .dropdown-menu > li > a {
        color: #fff;
    }
    #header .dropdown-menu > li > a:hover,
    #header .dropdown-menu > li > a:focus {
        background: #74bb01;
    }
    .dropdown-menu .divider {
        background-color: #3a3f44;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
        box-shadow: none;
    }
}
.avatar-item .avatar {
    padding: 0;
    border: 0;
    border-radius: 0;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.avatar-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.dropdown-menu {
    border-width: 0 1px 1px;
    padding: 0;
}
.dropdown-menu .divider {
    margin: 0;
}
.dropdown-menu > li > a,
.dropdown-header {
    padding: 9px 20px;
}
/* Index */

.tclcon {
    margin-left: 25px;
}
.table {
    margin-bottom: 0;
}
.users-online {
    margin-left: 15px;
    margin-right: 15px;
}
/* First run */

.first-run-content {
    padding-left: 15px;
}
.first-run-content h3 {
    margin-top: 15px;
}
.first-run-profile {
    background: #1f1f1f;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding-bottom: 16px;
}
.first-run-title {
    color: #fff;
    text-align: center;
}
.first-run-avatar {
    background: none;
    border: none;
}
.first-run-avatar img {
    border-radius: 3px;
}
.first-run-list {
    margin: 15px;
}
.first-run-login {
    margin-right: 15px;
}
.first-run .active {
    text-align: center;
}
@media screen and (max-width: 767px) {
    .first-run-content {
        padding-right: 15px;
    }
    .first-run-profile {
        margin-top: -15px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 3px;
    }
    .first-run-title {
        padding-top: 15px;
    }
    .first-run-list {
        margin-left: 0;
        margin-right: 0;
    }
    .first-run-login {
        margin-right: 0;
    }
}
/* Welcome box and header */

#brddesc {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    margin-top: -10px;
}
#brddesc p {
    padding: 0;
}
#brdwelcome {
    padding: 10px 0 0;
}
#brdwelcome .conl,
#brdwelcome .conr,
#brdwelcome p,
#brdwelcome li {
    display: inline;
    padding: 0;
}
#brdwelcome .conl {
    float: left;
}
#brdwelcome .conr {
    float: right;
}
#brdwelcome li span {
    padding-left: 18px;
    margin-right: 3px;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
}
#brdwelcome .conl li:first-child span {
    padding-left: 0;
    background: none;
}
/* Links (subscribe, new post, etc.) */

.subscribelink {
    padding-bottom: 10px;
}
.postlink {
    float: right;
    font-weight: bold;
    text-align: right;
}
/* Panels */

.panel {
    margin-bottom: 10px;
    margin-top: 15px;
}
.panel-section {
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #262626;
    border: 1px solid #333333;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-section-footer {
    display: block;
    padding: 9px;
    clear: both;
    background-color: #262626;
    border-top: 1px solid #393939;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-default .panel-heading, .panel-section .panel-heading {
    border: 1;
    background: url(boxres.gif) repeat-x;
    color: #fff;
    height: 37px;
}
.panel-border {
    border: 1;
}
.panel-border .panel-body,
.panel-border .postfield,
.panel-border .panel-footer,
.panel-border .quickpostfield {
    border-top: none;
}
.col-md-10 .panel {
    margin-right: -14px;
}
/* Navbar */

.nav-inner {
    max-width: 1200px;
    margin: 0 auto;
}
.table thead th {
    text-align: left;
    padding: 2px;
    color: #fff;
    border-bottom: 2px solid #3c3c3c;
    background: #1F1F1F url(area_body.png);
}
.navbar {
    background: #2b2e31 url(bg-noise-white.png);
    box-shadow: #373b3f 0 1px 0 inset;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    font-weight: 700;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #151515 url(bg-noise-white.png);
    color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret,
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-right > .dropdown,
:last-child.navbar-right.navbar-nav {
    margin-right: 0;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}
/* Toggle */

.navbar-default .navbar-toggle,
.navbar-standard .navbar-toggle {
    border-color: #666;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-standard .navbar-toggle,
.navbar-standard .navbar-toggle:hover,
.navbar-standard .navbar-toggle:focus {
    background-color: #363636;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-standard .navbar-toggle .icon-bar {
    background-color: #a4a4a4;
}
/* Pagination */

.pagination {
    margin: 0;
    float: right;
}
.pagination-fix {
    margin-top: 10px;
    margin-bottom: 5px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    cursor: pointer;
}
/* Profile */

.profile-nav {
    padding-left: 0;
    padding-right: 0;
}
.user-card-title {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin-top: 0;
    font-size: 29px;
}
a.active.list-group-item,
a.active.list-group-item:hover,
a.active.list-group-item:focus {
    background: #a7a7a7;
    background: -webkit-linear-gradient(bottom, rgba(143, 143, 143, 0.75), rgba(129, 129, 129, 0.75) 48%, rgba(140, 140, 140, 0.75) 52%, rgba(181, 181, 181, 0.75));
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(143, 143, 143, 0.75)), color-stop(48%, rgba(129, 129, 129, 0.75)), color-stop(52%, rgba(140, 140, 140, 0.75)), color-stop(100%, rgba(181, 181, 181, 0.75)));
    background: -moz-linear-gradient(bottom, rgba(143, 143, 143, 0.75), rgba(129, 129, 129, 0.75) 48%, rgba(140, 140, 140, 0.75) 52%, rgba(181, 181, 181, 0.75));
    background: -o-linear-gradient(bottom, rgba(143, 143, 143, 0.75), rgba(129, 129, 129, 0.75) 48%, rgba(140, 140, 140, 0.75) 52%, rgba(181, 181, 181, 0.75));
    background: -ms-linear-gradient(bottom, rgba(143, 143, 143, 0.75), rgba(129, 129, 129, 0.75) 48%, rgba(140, 140, 140, 0.75) 52%, rgba(181, 181, 181, 0.75));
    background: linear-gradient(to top, rgba(143, 143, 143, 0.75), rgba(129, 129, 129, 0.75) 48%, rgba(140, 140, 140, 0.75) 52%, rgba(181, 181, 181, 0.75));
    -webkit-box-shadow: inset 0 3px 1px 0px rgba(255, 255, 255, 0.3), 0 3px 3px #000;
    -moz-box-shadow: inset 0 3px 1px 0px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 3px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: -1px;
    font-weight: bold;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    position: relative;
}
.profile-h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.post-privicon {
    font-size: 1.2em;
    margin-top: -62px;
    margin-right: 65px;
    position: relative;
    text-align: center;
}
.post-membership__month {
    text-align: right;
}
.post-membership__month,
.post-membership__year {
    display: inline-block;
    width: 40px;
}
.post-membership__year {
    text-align: left;
}
.post-privicon-section {
    vertical-align: middle;
    border: 1px solid #595959;
    background-color: #1B1B1B;
    border-radius: 50%;
    width: 25px;
    padding: 2px;
    height: 25px;
}
.post-privicon-section:hover {
    background-color: #333;
}
.btn-silver {
    background-color: #dbdbdb;
    background-image: linear-gradient(#dbdbdb, #bbbbbb);
    border-color: #aaa;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1);
    color: #333;
}
.btn-silver:hover {
    background-color: #bbbbbb;
    border-color: #aaa;
    color: #333;
    background-image: none;
    color: #FFFFFF;
}
.navbar-standard {
    background: #1f1f1f;
    border-color: #393939;
    color: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-shadow: transparent 0 1px 0 inset;
}
.staff-card-small {
    margin: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    display: inline-block;
    position: relative;
    float: left;
}
.module-service p,
.module-privacy p,
.module-forum p {
    font-size: 14px;
    margin: 12px 0 0;
}
.module-service,
.module-privacy,
.module-forum {
    border-bottom: 1px solid #393939;
    padding: 20px 0;
}
.module-privacy,
.module-forum {
    border-bottom: 0;
}
.staff-card-head {
    height: 59px;
    background-color: #1F1F1F;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #000;
    box-shadow: 0 0 0 1px #4a4a4a, 0 0 0 1px #000;
}
.board-section {
    border-radius: 3px;
}
.shop-ul-middle li {
    margin-left: 38px;
}
.ulCheckoutItems {
    background: none;
    padding: 0;
    margin: 10px 0 0 0;
}
.ulCheckoutItems li {
    display: block;
    padding: 7px 5px;
    height: 50px;
    border-top: 1px solid #000;
    text-align: left;
}
.liCheckoutTotal {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    border-bottom: 1px solid #111!important;
    border-top: none!important;
    background: rgba(255, 255, 255, .1);
}
#shopitem {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 0 6px #000000;
    -moz-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    background-color: rgba(20, 20, 20, 0.5);
    border: 1px solid #2c2c2c;
    margin: auto;
    color: #848484;
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
    border-bottom-right-radius: 5pt;
    -moz-border-radius-bottomright: 5pt;
    -webkit-border-bottom-right-radius: 5pt;
    border-top-left-radius: 5pt;
    -moz-border-radius-topleft: 5pt;
    -webkit-border-top-left-radius: 5pt;
}
#item-section {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    padding: 0 8px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #e8e8e8;
    padding-top: 10px;
    -webkit-box-shadow: 0 0 6px #000000;
    -moz-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    background-color: rgba(20, 20, 20, 0.5);
    border: 1px solid #2c2c2c;
}
.col-body-section {
    text-align: center;
    padding: 10px;
    background-color: #e8e8e8;
    -webkit-border-radius: 5px;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    color: #e8e8e8;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 0 6px #000000;
    -moz-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    background-color: rgba(20, 20, 20, 0.5);
    border: 1px solid #2c2c2c;
}
.staff-card-body,
.board-section {
    padding: 9px;
    background-color: #242424;
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#2a2c33', endColorstr='#1b1c20');
    border: 1px solid #000;
    box-shadow: 0 0 0 1px #4a4a4a, 0 0 0 1px #000;
}
.staff-card-head h3 {
    padding-left: 120px;
    padding-bottom: 7px;
    margin-top: 0;
    font-size: 100%;
    margin-bottom: 0;
}
.staff-card-head .thumbnail {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: 9px;
    position: absolute;
    border-radius: 0;
}
/* Post messages */

.bblinks {
    padding-top: 5px;
    float: right;
}
.bblinks li {
    display: inline;
}
.blockpost .postbody {
    border-left-style: solid;
    border-left-width: 1px;
    float: right;
    margin-right: -218px;
    position: relative;
    text-align: left;
    width: 100%;
}
.blockpost .postleft {
    padding: 7px 12px 7px 18px;
    float: left;
    position: relative;
}
.username {
    margin: 0;
}
.time-nr {
    font-size: 80%;
    color: #aaa;
}
.btn-actions {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 80%;
}
.post-div {
    margin-top: 2px;
    margin-bottom: 5px;
}
.modlist {
    font-size: 70%;
    margin-bottom: 0;
}

.postview {
    margin-bottom: 10px;
}
.postedit {
    font-size: 11px;
    color: #bbb;
}
.modcontrols {
    padding-bottom: 8px;
}
.marked .panel {
    box-shadow: inset 0 0 2px 2px black, 0 0 9px 0 red;
}
/* Quick post and post */

.quickpostfield textarea,
.quickpostfield textarea:focus {
    border: none;
    box-shadow: none;
    height: 140px;
}
.postfield textarea,
.postfield textarea:focus {
    border: none;
    box-shadow: none;
    height: auto;
}
.quickpostfield input[type="text"],
.postfield input[type="text"] {
    border: none;
    border-bottom: #eee solid 1px;
    box-shadow: none;
    font-size: 20px;
    line-height: 0.8;
}
.quickpostfield textarea::-webkit-input-placeholder,
.postfield textarea::-webkit-input-placeholder,
.quickpostfield textarea::-moz-placeholder,
.postfield textarea::-moz-placeholder,
.quickpostfield textarea::-ms-input-placeholder,
.postfield textarea::-ms-input-placeholder {
    font-size: 20px;
}
@media screen and (max-width: 991px) {
    #quickpostform > .panel > .panel-heading {
        display: none;
    }
    .profile-card-quickpost {
        margin-bottom: -10px;
        border-radius: 0 !important;
    }
    .user-avatar {
        border-radius: 0 !important;
    }
}
#quickpostform > .panel {
    margin-top: 10px;
}
@media screen and (max-width: 991px) {
    #quickpostform > .panel-heading {
        border-radius: 0;
    }
}
.textarea-toolbar {
    background: #eee;
    margin: 0;
    padding: 6px 2px;
    border-bottom: #ddd 1px solid;
}
.fa-fw {
    width: 1.1em !important;
}
/* Table */

.table > tbody > tr > td.user-data {
    background-color: #1f1f1f;
}
.table > thead > tr.active {
    color: #fff;
    background: #74bb01;
}
.topicHeader {
    color: #e1bb34;
    font-weight: 700;
}
.category-header,
.forum-header {
    color: #fff;
    background: url(boxres.gif) repeat-x;
    padding: 8px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    border-top: 1px solid #393939;
}
.category-box,
.forum-box {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.forum-row,
.topic-row {
    color: #b1b1b1;
    background-color: #262626;
    padding: 8px 0;
    border-left: 1px #393939 solid;
    border-right: 1px #393939 solid;
    background: #262626 url(line.gif) repeat-x 0 0;
}
.forum-row:last-child,
.topic-row:last-child {
    color: #b1b1b1;
    background-color: #262626;
    padding: 8px 0;
    background: #262626 url(line.gif) repeat-x 0 0;
    border-bottom: 1px #393939 solid;
}
.table > tbody > tr > td {
    color: #fff;
    background: #2e2e2e;
    /*border-top: 1px solid #1c1c1c;
	border-bottom: 1px solid #4a4a4a;*/
}
.table thead > tr > .postbreadcrumb,
.table tbody > tr > .postbreadcrumb,
.table tfoot > tr > .postbreadcrumb,
.table thead > tr > td > .postbreadcrumb,
.table tbody > tr > td > .postbreadcrumb,
.table tfoot > tr > td > .postbreadcrumb {
    padding: 0;
}
.postbreadcrumb .breadcrumb {
    margin: 0;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background: none;
}
/* Buttons */

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: #ffffff;
}
.btn-post {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}
.panel-title .btn {
    margin-top: -10px;
    margin-right: -15px;
    padding: 7px 14px 9px 14px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
}
/* Labels */

.label-primary {
    background: #e8e8e8;
    color: #8e8e8e;
}
.label-success {
    background: #95c636;
}
.label-info {
    background: #2ac6e2;
}
.label-warning {
    background: #ffae00;
}
.label-danger {
    background: #ea4322;
}
.glyphicon-asterisk {
    color: #c9c9c9;
    font-size: 80%;
}
/* Alerts */

.alert {
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: #282828;
}
.alert-info2 {
    color: #e8e8e8;
    -webkit-border-radius: 5px;
    border: 1px solid darkgrey;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 0 0 #5C5C5C inset, 0 2px 3px rgba(0, 0, 0, 0.2);
    background: repeat-x scroll center top #212121;
    border-color: #212121;
    border-style: solid;
    border-width: 1px 1px 0;
    -webkit-box-shadow: 0 0 6px #000000;
    -moz-box-shadow: 0 0 6px #000000;
    box-shadow: 0 0 6px #000000;
    background-color: rgba(20, 20, 20, 0.5);
    border: 1px solid #2c2c2c;
}
.alert-warning {
    border-left: #f79f13 5px solid;
}
.alert-info,
#redirect {
    border-left: #93c920 5px solid;
}
.alert-danger {
    border-left: #ff5a00 5px solid;
    color: #d33200;
}
.alert-success {
    border-left: #523f6d 5px solid;
    color: #4e9e00;
}
.title_style_header,
.title_style_base {
    margin: 0 auto;
    background: #3e3e3e;
    background: -moz-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(50%, #272727), color-stop(100%, #262626));
    background: -webkit-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -o-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -ms-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: linear-gradient(to bottom, #3e3e3e 0%, #272727 50%, #262626 100%);
    border-top: 1px solid #5b5b5b;
    border-left: 1px solid #3b3b3b;
    border-right: 1px solid #3b3b3b;
    border-bottom: 1px solid #151515;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    font-size: 15px;
    color: #d7dbe1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
}
.download {
    border: none;
    border-top: 1px solid rgba(91, 91, 91, 0.3);
    border-bottom: 1px solid #2b2b2b;
    border-left: 1px solid #3b3b3b;
    border-right: 1px solid #3b3b3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #a9acad;
    background: #262626;
    padding: 5px 8px;
    margin-bottom: 15px;
}
#slider {
    max-width: 1200px;
    height: 256px;
    margin: 0 auto;
}
#slider #slider_bnr_area {
    height: 200px;
    position: relative;
    margin: 0;
    padding: 0;
}
#slider #slider_bnr_area li {
    display: block;
    position: absolute;
}
#slider #slider_bnr_area li a {
    display: block;
    max-width: 1200px;
    height: 200px;
}
#slider img {
    border-radius: 8px;
    outline: none;
    border-color: #4a4a4a;
    box-shadow: 0 0 6px 0 #4a4a4a;
    max-width: 100%;
}
#miniNav a,
#miniNavbm a {
    color: #fff;
}
#miniNav hr {
    margin-top: 2px;
    margin-bottom: 15px;
    padding-bottom: 0;
}
.nav-logo:hover {
    opacity: 0.80;
}
.pips {
  margin-bottom: 5px;
}
#miniNavbm hr {
    margin-top: 2px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#miniNav a:hover,
#miniNavbm a:hover {
    color: #e1bb34;
    text-decoration: none;
}
#miniNav,
#miniNavbm {
    width: 100%;
}
#miniNav span,
#miniNavbm span {
    font-size: 14px;
    display: block;
}
#slider #slider_pn_area {
    height: 56px;
    padding-top: 4px;
	padding-left: 0;
	margin-bottom: 0;
    text-align: center;
    background: url(slider/bg_slider.png) no-repeat 0 0;
}
#slider #slider_pn_area li {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}
#slider #slider_pn_area a.bt_slider_pn {
    background: url(slider/bt_slider_pn.png) no-repeat 0 0;
}
#slider #slider_pn_area li a {
    width: 20px;
    height: 20px;
    display: block;
}
#slider #slider_pn_area li.slide_current {
    background: url(slider/bt_slider_pn.png) no-repeat left bottom;
}
#slider .desc_content {
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    display: block;
    z-index: 0;
}
.col-md-10 .alert {
    margin-right: -14px;
}
/* Forms */

fieldset label {
    display: block;
    padding: 0 0 7px 0;
}
label .help-block {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 85%;
}
textarea {
    resize: vertical;
}
.multiselect {
    float: left;
    padding-bottom: 7px;
}
.checklist {
    border-width: 1px;
    border-style: solid;
    max-height: 9em;
    width: 20em;
    overflow: auto;
    padding: 0.25em 0.5em;
    margin: 0.25em 16px 0 0.15em;
}
/* Breadcrumbs and button */

.spoilerbutton {
    display: -moz-inline-box;-moz-box-orient: vertical;display: inline-block;vertical-align: middle;background-color: #63a121;background-image: -webkit-linear-gradient(top,#63a121,#63a121);background-image: linear-gradient(to bottom,#63a121,#63a121);border-radius: 2px;box-shadow: inset 0 1px rgba(255,255,255,0.2); background-repeat: repeat-x;border: 1px solid rgba(0,0,0,0.15);border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.15); color: #fff;cursor: pointer;line-height: 1.53846em;font-size: 1em;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: normal;text-align: center;padding: .30769em .61538em;margin: 0;text-decoration: none;-webkit-transition: .1s linear all;-moz-transition: .1s linear all;transition: .1s linear all;text-shadow: 0 1px rgba(0,0,0,0.4);
	color: #fff!important;
    text-decoration: none!important;
    padding: 8px;
	}
	
	
.spoilerContent::before {
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: baseline;
    width: 0;
    border-bottom: 10px solid #63a121;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    margin-right: 5px;
}
.spoilerContent:before {
    position: absolute;
	margin-top: -19px;
    border-bottom-color: rgb(17, 17, 17);
}


.row-nav-fix {
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
    .next-hidden-sm {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }
}
@media screen and (max-width: 767px) {
    .next-hidden-xs {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }
}
/* Status Indicators */

.icon {
    border-color: #dcdcdc;
    margin-left: -3px;
    margin-top: 1px;
}
.iredirect .icon {
    border-color: #818181;
    border-width: 4px;
    padding: 4px;
}
.inew .icon {
    border-color: #81c400;
}
/* Search */

.result-card {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: #ddd solid 1px;
}
.result-card h3,
.result-card p {
    margin: 0;
}
.result-card .help-block {
    margin-top: 0;
    opacity: .5;
}
.result-card:not(last-child) {
    margin-bottom: 10px;
}
/* Userlist */

.search-bar {
    margin-bottom: 10px;
}
@media(max-width:991px) {
    .search-bar, #userlist .col-sm-12 {
        margin-bottom: 0;
    }
}
.userlist {
    padding: 0 15px;
}
.user-row .user-avatar {
    max-width: 50px;
    margin-top: 0;
    margin-left: -6px;
    position: absolute;
    border-radius: 0;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
}
.userlist-name {
    margin-left: 60px;
    font-size: 24px;
    line-height: 2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
.userlist-name small {
    font-size: 16px;
    color: #999;
}
.user-row .thumbnail {
    padding: 2px;
}
.user-row {
    color: #b1b1b1;
    background-color: #262626;
    padding: 8px 0;
    border-bottom: 1px #393939 solid;
    border-left: 1px #393939 solid;
    border-right: 1px #393939 solid;
}
.user-row:last-child {
    color: #b1b1b1;
    background-color: #262626;
    padding: 8px 0;
    border-bottom: 1px #3c3c3c solid;
}
.user-row .collum-count {
    padding-top: 15px;
}
.row-space-top {
    margin-top: 15px;
}
.pagination-user {
    margin: 10px auto;
}
/* Topicview */

.profile-card h1 a:hover,
.profile-card h2 a:hover,
.profile-card h3 a:hover,
.topic .panel-heading h3 a:hover,
.profile-card h4 a:hover,
.profile-card h5 a:hover,
.profile-card h6 a:hover,
.profile-card h1 a:active,
.profile-card h2 a:active,
.profile-card h3 a:active,
.profile-card h4 a:active,
.profile-card h5 a:active,
.profile-card h6 a:active,
.profile-card h1 a:focus,
.profile-card h2 a:focus,
.profile-card h3 a:focus,
.profile-card h4 a:focus,
.profile-card h5 a:focus,
.profile-card h6 a:focus {
    text-decoration: none;
    color: #ddd;
}
.profile-card h2 a,
.profile-card h3,
.profile-card h3 a,
.topic .panel-heading h3 a {
    color: #fff;
}
.topic .panel,
.topic .profile-card {
    margin-bottom: 0;
}
.panel-topic {
    margin-top: 10px;
}
.topic .profile-card {
    margin-top: 10px;
    min-height: 190px;
}
.topic .panel-body {
    padding: 7px;
}
.topic .panel-message-body {
  min-height: 105px;

}	
.topic .profile-card-head .user-avatar {
    position: relative;
    width: 110px;
    margin: auto;
    background: #393939;
    background: linear-gradient(#393939, #151515);
    border: 1px solid #515557;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #141414, 0 0 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.topic .profile-card-head .user-avatar img {
    height: 115px;
}
.topic .profile-card-head .is-online {
    border-left: 4px #93dd00 solid;
}
.topic .profile-card-head .is-offline {
    border-left: 4px #eee solid;
}
.profile-card-head h2 {
    color: #fff;
}
.profile-card-head h3 {
    color: #fff;
}
.topic hr {
    margin-top: 9px;
    margin-bottom: 1px;
}
.profile,
.topic {
    margin-left: -15px;
    margin-right: -15px;
}
.profile-card {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.profile-card-head {
    min-height: 190px;
}
.profile-card-quickpost {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.profile-card-head .thumbnail {
    max-width: 100px;
    max-height: 110px;
    width: 100px;
    height: 110px;
    margin-top: -50px;
    margin-left: 9px;
    position: absolute;
    border-radius: 0;
}
.thumbnail > .user-avatar {
    width: 100%;
    height: 100%;
}
.profile-card-head h4 {
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 29.5px;
}
.profile-card-head h3 {
    padding-bottom: 2px;
}
.profile-card-head h3 {
    margin-top: 0;
    font-size: 100%;
    margin-bottom: 0;
}
.profile-card-body {
    padding: 9px;
    border-top: none;
}
.profile-card-body p {
    margin: 0;
}
.panel-body p {
    line-height: 1.6;
}
.comment-arrow {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;
    left: 4px;
    margin-top: -2px;
    border-left-width: 0px;
    border-right-color: #262626;
}
.topic .panel-heading {
    background: none;
    border: none;
}
.post-actions {
    margin-top: 5px;
}
.topic .thumbnail {
    padding: 0;
    border: 1px solid #fff;
}
@media(max-width:991px) {
    .topic .panel {
        margin-top: 0;
    }
    .topic .profile-card-head {
        background: #1f1f1f;
        text-align: left;
        min-height: 44px;
    }
	.topic .avatar {
		display:none;
	}
	.topic .panel-message-body {
		min-height: 0;
	}
	.topic .pips {
		display:none;
	}
    .topic .profile-card-head .user-avatar {
        display: none;
    }
    .topic .profile-card {
        min-height: 44px;
    }
    .post-privicon {
        font-size: 1.2em;
        margin-top: 0;
        margin-right: 0;
        margin-left: 100px;
        position: relative;
        float: right;
    }
    .post-body-section {
        margin: 0;
		
    }
	.topic .profile-card-head h4 {
		padding-left: 0px;
	}
    .topic .panel-heading {
        border-radius: 0;
    }
}
.onlypost > .col-md-3 > .profile-card,
.onlypost > .col-md-9 > .panel {
    margin-top: 0px;
}
/* Forumview, index */

.icon {
    margin-top: 2px;
    border-style: solid;
    border-width: 8px;
    float: left;
    height: 0;
    overflow: hidden;
    width: 0;
}
/* Debug */

#debug {
    border-style: dotted none none none;
    border-width: 1px 0 0 0;
    margin-top: 7px;
    text-align: center;
}
/* Links */

a {
    color: #1C81B8;
}
a:hover,
a:active {
    color: #e1bb34;
}
a.list-group-item:hover,
a.list-group-item:active {
    color: #555555;
}
/* BBCode */

span.bbu {
    text-decoration: underline;
}
span.bbs {
    text-decoration: line-through;
}
blockquote {
    font-size: 12px;
}
blockquote footer {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 0;
}
.poll-title {
    padding: 0 0 0px;
    color: #e1bb34;
}
#poll .poll-percentage {
    display: table-cell;
    vertical-align: middle;
}
#poll .poll-question {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}
#poll .progress {
    height: 6px;
    margin-bottom: 0px;
}
#poll .votes {
    font-size: 9pt;
}
#poll .options {
    display: table;
}
#poll .poll-option {
    overflow: hidden;
    position: relative;
    padding: 8px 0;
}
#poll .totalVotes {
    color: #f1f1f1;
}
#poll .bold {
    font-weight: 700;
    font-family: 'Cinzel', serif;
    font-size: 16px;
}
#poll input[type="radio"] {
    display: inline-block;
    position: absolute;
    top: 19%;
    left: 1%;
    cursor: pointer;
    margin: 5px 0 0;
}
#poll .poll-submit {
    padding: 8px 0;
}
#poll label {
    cursor: pointer;
    width: 100%;
    margin: 0;
    font-size: 12px;
}
#poll hr {
    height: 2px;
    background: url(line.gif) repeat-x 0 0;
    margin: 0;
    padding: 0;
}
#poll .poll-text {
    cursor: pointer;
    padding: 9px 22px;
    vertical-align: middle;
    color: #a9acad;
}
#poll p {
    color: #fff;
}
.videoPlayer {
	max-width: 100%;
	max-height: 100%;
}
/* Addons */

#mail-addon,
#website-addon,
#microsoft-addon,
#facebook-addon,
#twitter-addon,
#google-addon {
    color: #fff;
}
#mail-addon {
    background-color: #fdcd00;
}
#website-addon {
    background-color: #00c48a;
}
#microsoft-addon {
    background-color: #21c9ff;
}
#facebook-addon {
    background-color: #4862a3;
}
#twitter-addon {
    background-color: #00acee;
}
#google-addon {
    background-color: #da4836;
}
/* Update and login form */

.form {
    max-width: 330px;
    margin: 60px auto 20px;
    border-radius: 3px;
}
.form-first-run {
    max-width: 100%;
    margin: 0;
}
.form input[type="text"],
.form input[type="password"] {
    font-size: 14px;
    margin-bottom: -1px;
    padding: 7px 9px;
    width: 100%;
}
.form-heading {
    margin-bottom: 0px;
    font-weight: 100;
    background: #74bb01;
    color: #fff;
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.form-content {
    padding: 15px 18px 10px 20px;
}
.form-first-run .form-content {
    padding: 0;
    padding-right: 15px;
}
.remember {
    font-weight: 500 !important;
}
.form-text {
    margin: 0;
    padding: 20px;
}
.form .btn-login {
    margin-top: -65px;
    margin-right: 5px;
}
.form .btn-update {
    margin-top: 0 !important;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form .actions,
.form .remember {
    margin-top: 10px;
}
.top-form {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bottom-form {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#posterror {
    max-width: 330px;
    margin: 60px auto 20px;
    border-radius: 3px;
    background-color: #fff;
}
#posterrorall {
    max-width: 30%;
    margin: 60px auto 20px;
    border-radius: 3px;
    background-color: #fff;
}
.form-errors {
    background: #ff6000;
}
@media screen and (max-width: 767px) {
	#sitefooter #copyright {
		margin-left: 12px;
	}
    .container,
    .row-nav .col-sm-6 {
        padding: 0;
    }
    .category-header,
    .forum-header,
    .panel-heading,
    .profile-card-head,
    :first-child.list-group-item,
    :last-child.list-group-item,
    .btn-block,
    .panel-title .btn {
        border-radius: 0;
    }
    .category-box,
    .postview {
        margin-bottom: 0;
    }
    .forum-row,
    .topic-row {
        border-left: none;
        border-right: none;
    }
    footer,
    #brddesc,
    #brdwelcome,
    h2,
    .row-nav {
        margin-left: 15px;
        margin-right: 15px;
    }
    .postview >:last-child,
    .modcontrols .btn-toolbar .btn-group >:first-child {
        margin-bottom: 10px;
    }
    .profile-card-head h2 {
        margin-left: 0;
    }
    .topic .profile-card {
        margin-top: 0;
    }
    .panel-body {
        border: none;
    }
}
/* Backstage Accent select */

.backstage-accent {
    padding: 21px;
    margin-left: 1px;
    margin-right: 1px;
}
.accent-group .btn-group >:first-child:not(.dropdown-toggle):not(:last-child).btn,
.accent-group .btn-group >:last-child:not(:first-child).btn,
.btn-group >:not(:first-child).dropdown-toggle {
    border-radius: 0;
}
.accent-group .btn {
    box-shadow: none;
    border: 3px solid #fff;
}
.accent-group .btn:hover,
.accent-group .btn:focus,
.accent-group .btn:active,
.accent-group .active.btn {
    border: 3px solid #bbb;
}
/* Cookie bar */

.cookie-bar {
    background: #393939;
}
.cookie-bar .navbar-form {
    border-top: none;
    border-bottom: none;
    box-shadow: none;
}
@media screen and (max-width: 767px) {
    .cookie-bar .navbar-text {
        margin-left: 15px;
        margin-right: 15px;
    }
    .cookie-bar .navbar-form {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 15px;
    }
}
.badge_name_radio {
   margin-bottom: 2px;
   text-align: center; /* center checkbox horizontally */
   vertical-align: middle; /* center checkbox vertically */
   height: 100%;
}

.infldset .table > tbody > tr > td {
    vertical-align: middle; /* center checkbox vertically */
    height: 100%;
}

.btn-toolbar-profile {
    padding-top: 5px;
    margin-bottom: 5px;
}
.inbox_bar {
        border: 1px solid #ddd;
    margin: 15px 0 0;
    height: 30px;
}
.progress-text {
    background-color: rgba(0,0,0,.3);
    padding: 0 3px 1px;
    margin-right: 5px;
    margin-left: 5px;
}
.progress-bar {
    color: #fff;
}
#frontpage .pager {
    margin: 0;
}
#frontpage .pager .pagination {
    text-align: right;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 10px;
}

#frontpage .pager .pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1;
    margin: 4px 1px 0 0;
}
#frontpage .pager .pagination .current_list {
    margin-right: 10px;
    margin-top: 8px;
    vertical-align: top;
    white-space: nowrap;
}
#frontpage .pager .pagination span, .pager .pagination a, .pager .pagination .current_list, .pager .pagination ul, .pager .pagination li {
    display: inline-block;
    font-size: 12px;
    color: #b1b1b1;
    text-decoration: none;
}
#frontpage .pager .pagination .current_list .total {
    color: #bfa34c;
}
#server-stats p, #server-stats p span {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    line-height: 1px;
}
#server-stats p strong {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    color: rgb(183, 153, 59);
    line-height: 1px;
}
#server-stats h4 {
    padding: 0 0 0px;
    color: green;
}
#server_statistics .panel-heading {
	background: #3e3e3e;
    background: -moz-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(50%, #272727), color-stop(100%, #262626)); 
    background: -webkit-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%); 
    background: -o-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: -ms-linear-gradient(top, #3e3e3e 0%, #272727 50%, #262626 100%);
    background: linear-gradient(to bottom, #3e3e3e 0%, #272727 50%, #262626 100%); 
	height: auto;
}
#server_statistics .panel-heading .update {
	font-size: 12px;
    margin-top: -16px;
    color: #a5d841;
    text-align: right;
}
#server_statistics .list_style li {
    border-bottom: 1px solid #151515;
}
#server_statistics .panel-default {
    background-color:#262626;
}
#server_statistics .list_style li .inner {
    padding: 5px 15px 0px;
    border-bottom: 1px solid #343434;
}
#server_statistics ul {
    list-style: none;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
#server_statistics .add_list li p {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
	
#server_statistics .add_list li {
	padding: 0px 20px 0px;
	border: 0;
}
#server_statistics .label {
	color: #151515;
	padding: 1px 5px;
}
#server_statistics .label-unsub {
    background-color: #337ab7;
}
	
#server_statistics .list_style li .inner p {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	margin: 0 0 5px;
}
#server_statistics .heading_gold {
    color: #bfa34c;
    font-weight: bold;
	font-size: 14px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	margin-bottom: 5px;
}
#server_statistics .space {
	height: 10px;
    display: block;
	 border-bottom: 1px solid #151515;
}
#server_statistics .base_body {
	background: url(area_body.png) #262626;
}

#server_statistics .list_style li:last-child {
    border: none;
}
#server_statistics .setmid {
	text-align:center;
	padding: 4px;
}
.bt_gray {
    background: #a7a7a7;
    background: -webkit-linear-gradient(bottom, rgba(143,143,143,0.75), rgba(129,129,129,0.75) 48%, rgba(140,140,140,0.75) 52%, rgba(181,181,181,0.75));
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(143,143,143,0.75)), color-stop(48%, rgba(129,129,129,0.75)), color-stop(52%, rgba(140,140,140,0.75)), color-stop(100%, rgba(181,181,181,0.75)));
    background: -moz-linear-gradient(bottom, rgba(143,143,143,0.75), rgba(129,129,129,0.75) 48%, rgba(140,140,140,0.75) 52%, rgba(181,181,181,0.75));
    background: -o-linear-gradient(bottom, rgba(143,143,143,0.75), rgba(129,129,129,0.75) 48%, rgba(140,140,140,0.75) 52%, rgba(181,181,181,0.75));
    background: -ms-linear-gradient(bottom, rgba(143,143,143,0.75), rgba(129,129,129,0.75) 48%, rgba(140,140,140,0.75) 52%, rgba(181,181,181,0.75));
    background: linear-gradient(to top, rgba(143,143,143,0.75),rgba(129,129,129,0.75) 48%,rgba(140,140,140,0.75) 52%,rgba(181,181,181,0.75));
    -webkit-box-shadow: inset 0 3px 1px 0px rgba(255,255,255,0.3),0 3px 3px #000;
    -moz-box-shadow: inset 0 3px 1px 0px rgba(255,255,255,0.3);
    box-shadow: inset 0 3px 1px 0px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.3);
    color: #242424;
}
.bt_gray span {
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3),0px 1px 1px rgba(0,0,0,0.3);
    text-align: center;
}
#server_statistics .teamspeak {
	color: #73bfe6;
	font-size: 12px;
}